@import "tailwindcss";

:root {
  --primary-orange: rgb(255, 93, 0);
  --primary-blue: rgb(0, 67, 193);
}

.rotate-arrow {
    transform: scaleX(-1);
  }


@media (width >= 48rem) {
  .nav-style {
    display: flex;
  }
}